aiodataloader==0.4.0
alembic==1.14.1
annotated-types==0.7.0
anyio==4.8.0
click==8.1.8
exceptiongroup==1.2.2
fastapi==0.115.7
graphene==3.4.3
graphene-sqlalchemy==3.0.0rc2
graphql-core==3.2.5
graphql-relay==3.2.0
h11==0.14.0
idna==3.10
Mako==1.3.8
MarkupSafe==3.0.2
packaging==24.2
promise==2.3
pydantic==2.10.6
pydantic_core==2.27.2
python-dateutil==2.9.0.post0
six==1.17.0
sniffio==1.3.1
SQLAlchemy==2.0.37
starlette==0.45.3
starlette-graphene3==0.6.0
typing_extensions==4.12.2
uvicorn==0.34.0
